<!DOCTYPE html>
<html>
  <head>
    <title>beets webpd</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='beets.css') }}" type="text/css">

    <script src="{{ url_for('static', filename='lib/promise-0.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/zepto.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/platform/platform.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/d3.v3.js') }}"></script>

    <script src="{{ url_for('static', filename='js/beets_model.js') }}"></script>
    <script src="{{ url_for('static', filename='js/beets_ui.js') }}"></script>

    <link rel="import" href="{{ url_for('static', filename='elements/artist-list.html') }}">
  </head>
  <body>
    <div id="header">
      <h1>beets</h1>
      <div id="player">
        <audio></audio>

        <button class="disabled">&#9654;</button>
        <button class="play">&#9654;</button>
        <button class="pause" style="letter-spacing: 1px;">&#10073;&#10073;</button>

        <span class="times">
          <span class="currentTime">
          </span>
        </span>
      </div>
    </div>

    <artist-list id="artist-list"></artist-list>

  </body>
</html>
